
<style type="text/css">
  .control-group .static-content{
  margin-top:5px;
  font-weight:bold;
  }
</style>

<div class="row">
  <div class="well span3">
    <a href="#" class="btn btn-default">
      <i class="icon-pencil"></i>
    </a>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Event Type</label>
        <div class="controls static-content">
          <span>Debts Collection</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Event Title</label>
        <div class="controls static-content">
          <span>Account No:300120</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Description</label>
        <div class="controls static-content">
          <span>None</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Event Start Date</label>
        <div class="controls static-content">
          <span>12/12/2009</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPassword">Event End Date</label>
        <div class="controls static-content">
          <span>12/12/1013</span>
        </div>
      </div>  
      <div class="control-group">
        <div class="controls">
          <label class="checkbox"/>
          <input type="checkbox"/> All day
        </div>
      </div>
    </form>
  </div>
  <div class="well span9">

    <h3>Event Title Goes here</h3>

    <div style="height:300px">&nbsp;</div>


  </div>


</div>